{% extends 'index/base/base.html' %}
{% load static %}
{% load cache %}

{% block content %}      
<div class="container">
    <div class="row">
        <!-- BEGIN left-side -->
        <div class="col-md-8">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6" style="text-align:left;">
                            <h1 class="h3">{{ title }}</h1>
                        </div>
                        
                        <div class="col-sm-6" style="text-align:right;">
                            <a href="{% url 'blog_create' %}" class="btn btn-success" type="link">
                                <i class="bi bi-plus-circle-fill"></i>
                                Добавить объявление
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-rounded alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert">
        						{{ message }}
        					</div>
        				<hr>
                        {% endfor %}
                    {% endif %}
                    
                    
                    {% cache 3600 category %}
                    <!-- BEGIN category_list -->
                    <div class="p-3 mb-1">
                        <h7 class="d-block mb-1"><i class="bi bi-bookmark-fill"></i> Категории</h7>
                        {% url 'blog_list' as blog_list_url %}
                        <a href="{{ blog_list_url }}" class="mt-1 btn btn-light {% if request.path == blog_list_url %}active{% endif %}" type="link">
                            Все
                        </a>
                        
                        {% for c in category_list %}
                            {% url 'blog_list_by_category' c.slug as blog_list_url %}
                            <a href="{% url 'blog_list_by_category' c.slug %}" class="mt-1 btn btn-light {% if request.path == blog_list_url %}active{% endif %}" type="link">
                                {{ c.title }}
                            </a>
                        {% endfor %}
                    </div>
                    <!-- END category_list -->
                    {% endcache %}
                    
                    <!-- BEGIN search -->
                    <form action="#" method="GET">
                        <div class="left-block-head pt-1 pb-3 input-group searchbar">
                            <input class="form-control" type="text" name="q" placeholder="Поиск..." value="{% if query %}{{ query }}{% endif %}">
        	                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                    <!-- END search -->
                    
                    
                    <!-- BEGIN post_list -->
                    <h3 class="h5 d-block mt-1 mb-3">Список объявлений {% if category %} - {{ category }}{% endif %}</h3>
                    {% if not post_list %}
                        <p>Ничего не найдено...</p>
                    {% endif %}
                    
                    <div class="row">
                    {% for p in post_list %}
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    {{ p.title }}
                                </div>
                                
                                <div class="card-body">
                                    <!-- BEGIN user-bar -->
                                    <div class="d-flex flex-start align-items-center">
                                      <img class="rounded-circle shadow-1-strong me-3" src="{{ p.user.profile.image.url }}" alt="avatar" width="60"
                                        height="60" />
                                      <div>
                                        <h6 class="fw-bold text-primary mb-1">{{ p.user }}</h6>
                                        <p class="text-muted small mb-0">
                                          Опубликовано - {{ p.create|date:"d b Y в G:i" }}
                                        </p>
                                      </div>
                                    </div>
                                    <!-- END user-bar -->
                                    
                                    <!-- BEGIN content -->
                                    <div class="mt-3 mb-1">
                                        {{ p.text|safe }}
                                    </div>
                                    <!-- END content -->
                                </div>
                                
                                
                                <div class="card-footer text-center">
                                    <a href="{% url 'blog_list_by_category' p.category.slug %}" class="btn btn-secondary" type="link">
                                        <i class="bi bi-bookmark-fill"></i>
                                        {{ p.category }}
                                    </a>
                                    {% if user != p.user %}
                                        <a href="{% url 'reply_create' p.id %}" class="btn btn-primary">
                                            <i class="bi bi-reply-fill"></i>
                                            Отправить отклик
                                        </a>
                                    {% endif %}
                                    
                                    {% if user == p.user %}
                                        <a href="{% url 'blog_edit' p.id %}" class="btn btn-primary">Редактировать</a>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                    <!-- END post_list -->
                    
                    <!-- BEGIN paginator -->
                    {% with obj_list=post_list %}
                        {% if obj_list.has_other_pages %}
                            <nav class="mt-3 mb-3" aria-label="...">
                              <ul class="pagination">
                                {% if obj_list.paginator.num_pages > 5 %}
                                    <li class="page-item">
            	                        <a href="?page=1{% if query %}&q={{ query }}{% endif %}">
            	                            1
            	                        </a>
            	                    </li>
            	                {% endif %}
                                {% if obj_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ obj_list.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">
                                            <i class="bi bi-chevron-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li  class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="bi bi-chevron-left"></i>
                                        </a>
                                    </li>
                                {% endif %}
            
                                {% if obj_list.number|add:'-4' > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ obj_list.number|add:'-5' }}{% if query %}&q={{ query }}{% endif %}">
                                            &hellip;
                                        </a>
                                    </li>
                                {% endif %}
            
                                {% for i in obj_list.paginator.page_range %}
                                    {% if obj_list.number == i %}
                                        <li  class="page-item active">
                                            <a class="page-link" href="#">
                                                {{ i }}
                                            </a>
                                        </li>
                                    {% elif i > obj_list.number|add:'-5' and i < obj_list.number|add:'5' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">
                                                {{ i }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
            
                                {% if obj_list.paginator.num_pages > obj_list.number|add:'4' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ obj_list.number|add:'5' }}{% if query %}&q={{ query }}{% endif %}">
                                            &hellip;
                                        </a>
                                    </li>
                                {% endif %}
            
                                {% if obj_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ obj_list.next_page_number }}{% if query %}&q={{ query }}{% endif %}">
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if obj_list.paginator.num_pages > 5 %}
                                    <li  class="page-item">
                				        <a class="page-link" href="?page={{ obj_list.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">
                				            {{ obj_list.paginator.num_pages }}
                				        </a>
            				        </li>
            				    {% endif %}
                            </ul>
                        {% endif %}
                          </ul>
                        </nav> 
                    {% endwith %}
                    <!-- END paginator -->
                </div>
            </div>    
        </div>
        <!-- END left-side -->
        
        <!-- BEGIN right-side -->
        <div class="col-md-4">
            <!--<div class="card mt-5 mb-5">-->
            <!--    <div class="card-body">-->
            <!--        <h3 class="h5 mb-3"><i class="bi bi-bell-fill"></i> Недавние отлики</h3>-->
                    
            <!--        {% if not reply_list %}-->
            <!--            <p>Ничего не найдено...</p>-->
            <!--        {% endif %}-->
            <!--    </div>-->
            <!--</div>-->
        </div>
        <!-- END right-side -->
    </div>
    
</div>
{% endblock %}