{% extends 'index/base/base.html' %}
{% load static %}
      
{% block content %}      
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            {{ title }}
        </div>
        
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-rounded alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert">
						{{ message }}
					</div>
				<hr>
                {% endfor %}
            {% endif %}
            
            <div class="p-3 text-center">
                <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle" style="width:75px;">
                
                <h5 class="mt-3">{{ user }}</h5>
            </div>
            
            <form action="#" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {{ form.as_table }}
                
                {% csrf_token %}

                <button class="btn btn-success btn-rounded mt-3">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}